# Ignorer tout le dossier data par défaut
data/raw/
data/models/

# Mais on veut garder les fichiers JSON de config et lookup
!data/artifacts/*.json
!data/processed/*.json

# Continuer d'ignorer les vecteurs (trop lourds pour Git/Web)
data/artifacts/*.npy

# Ignorer le fichier de secrets
.env

# Ignorer les fichiers cache de Python
__pycache__/
*.pyc

# Ignorer
.idea
