# Garder les fichiers JSON et NPY (vecteurs) pour le déploiement
!data/artifacts/*.json
!data/processed/*.json
!data/artifacts/*.npy

# Ignorer tout le reste de data par défaut
data/raw/
data/models/

# Ignorer le fichier de secrets
.env

# Ignorer les fichiers cache de Python
__pycache__/
*.pyc

# Ignorer
.idea
