django>=5.0
langchain>=0.1.0
langchain-community
langchain-huggingface
langchain-core
langchain-ollama
langchain-google-genai
transformers
torch
torchvision
accelerate
bitsandbytes
numpy
scikit-learn
django-environ
requests
python-dotenv
sentence-transformers
datasets
dagster
dagster-webserver
